body {
    margin:0px;
    padding: 0px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 18px;
    color: hsl(240, 38%, 20%);
}
.text-bold{
    font-weight: 500;
}
.text-extra-bold{
    font-weight: 700;
}
.text-grayish-blu{
    color:hsl(240, 18%, 77%);
}
/* MAIN CONTAINER*/
/* add an empty pseudo element to better fit emty spaces between elements */
#mainContainer {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;

    background-color: #fff;
    background-image: url("./images/pattern-curve.svg");
    background-size: 275px 70px;
    background-position-y: bottom;
    background-position-x: left;
    background-repeat: no-repeat;
}

/* MESSAGE */
#message{
    text-align: center;
    padding: 28px 32px 0 32px;
    background-image: url("./images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 60px;
    transition: opacity 0.5s;
}

#messageName {
    display: flex;
    flex-flow: column;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 700;
}
#messageName span {
    font-weight: 500;
    color:hsl(240, 18%, 77%);
}

/* VISUAL */
#visualContainer {
    position: relative;
    min-height: 310px;
    background-image: url("./images/pattern-bg.svg");
    background-size: 325px 310px;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#visual {
    width: 250px;
    height: 250px;
    transition: transform 0.5s;
}
#visual img {
    max-width:100%;
    max-height:100%;
    -webkit-box-shadow: 0px 16px 50px 5px rgba(128,128,147,0.5);
-moz-box-shadow: 0px 16px 50px 5px rgba(128,128,147,0.5);
box-shadow: 0px 16px 50px 5px rgba(128,128,147,0.5);
}

/* CONTROLS */
#slideController {
    position: absolute;
    z-index: 2;
    bottom: 4px;
    background-color: #fff;
    border-radius: 25px;

    display: flex;
    align-items: center;
}

#slideController:first-child {
    margin-right: 6px;
}

.button{
    border-radius: 25px;
    width:46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    background-color:#F4F4FC;
    cursor: pointer;
}
/* FOOTER */
.attribution { 
    font-size: 11px; 
    text-align: center;
    margin: 0px; 
    padding: 16px;
}
.attribution a { color: hsl(228, 45%, 44%); }
/* ANIMATION */
.rotateY90 {
    transform: rotateY(90deg)
}
.rotateY180 {
    transform: rotateY(180deg)
}
.rotateY0 {
    transform: rotateY(0deg)
}
.fadeOut{
    opacity: 0;
}
.fadeIn{
    opacity: 1;
}


/* RESPONSIVE DESIGN DESKTOP */
@media only screen and (min-width: 1200px){
    #mainContainer {
        flex-flow: row-reverse;
        align-items: center;
        justify-content: space-around;
        position: relative;
        font-size: 32px;
        background-size: 620px 170px;
    }
    #messageContainer{
        position: absolute;
        left: 140px;
    }
    #message{
        padding:0;
        height: 100%;

        background-position-x: 90px;
        background-size: 130px;

        display:flex;
        flex-flow: column;
        justify-content: center;
        text-align: left;
        z-index: 1;
        width: 630px;
    }
    #messageText{
        padding-top:70px;
    }
    #messageName{
        display: block;
    }
    #messageName span{
        margin-left: 8px;
    }

    #visualContainer {
        position: absolute;
        right: 75px;
        min-height: 640px;
        min-width: 700px;
        background-size: 700px 640px; 
    }
    #visual {
        width: 540px;
        height: 540px;
    }
    #slideController {
        position: absolute;
        bottom: 24px;
        left: 130px;
    }
}




