body {
    margin:0px;
    padding: 0px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 18px;
    color: hsl(240, 38%, 20%);
}
.text-bold{
    font-weight: 500;
}
.text-extra-bold{
    font-weight: 700;
}
.text-grayish-blu{
    color:hsl(240, 18%, 77%);
}
/* FOOTER */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding: 16px;
}
.attribution a { color: hsl(228, 45%, 44%); }

/* MESSAGE */
#mainContainer {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#message{
    text-align: center;
    padding: 28px 32px 0 32px;
    background-image: url("./images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 60px;
}

#messageName {
    display: flex;
    flex-flow: column;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 700;
}
#messageName span {
    font-weight: 500;
    color:hsl(240, 18%, 77%);
}
#footerBackground {
    min-height: 70px;
    width: 100%;
    background-image: url("./images/pattern-curve.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}
/* MAIN CONTAINER*/
/* add an empty pseudo element to better fit emty spaces between elements */
#mainContainer::before{
    content: '';
}
/* VISUAL */
#visualContainer {
    position: relative;
    min-height: 310px;
    margin: 54px 25px;
    background-image: url("./images/pattern-bg.svg");
    background-size: 325px 310px;
    background-repeat: no-repeat;
    background-position: center;


    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#visual {
    width: 250px;
    height: 250px;
}
#visual img {
    max-width:100%;
    max-height:100%;
    -webkit-box-shadow: 0px 16px 50px 5px rgba(128,128,147,0.5);
-moz-box-shadow: 0px 16px 50px 5px rgba(128,128,147,0.5);
box-shadow: 0px 16px 50px 5px rgba(128,128,147,0.5);
}
#slideController {
    position: absolute;
    z-index: 2;
    bottom: 4px;
    background-color: #fff;
    border-radius: 25px;

    display: flex;
    align-items: center;
}

#slideController:first-child {
    margin-right: 6px;
}
#slideController img {
    margin: 12px
}

/* RESPONSIVE DESIGN TABLET - DESKTOP */
@media only screen and (min-width: 900px){

}





